{% extends 'base.html.twig' %}

{% block title %}autoccc.ru - Админ панель{% endblock %}

{% block main %}
<main class="main">
    <div class="main__wrapper">

        <div class="main__interface">

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\01.jpg" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Навигация</h2>
                    <span class="catalogItem__text">Настройки панелей, разделов меню сайта</span>
                </div>
            </section>

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\02.jpg" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Файлы</h2>
                    <span class="catalogItem__text">Представляет возможности загрузки различных файлов</span>
                </div>
            </section>

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\03.jpg" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Настройки пользователей</h2>
                    <span class="catalogItem__text">Какой-то текст с описанием этого блока</span>
                </div>
            </section>

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\04.jpg" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Статистика</h2>
                    <span class="catalogItem__text">Просмотр статистики, посещеных страниц, файлов логирования, а так же информации о версии движка.</span>
                </div>
            </section>

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\08.png" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Магазин</h2>
                    <span class="catalogItem__text">Настройка сисемы магазина вашего сата</span>
                </div>
            </section>

            <section class="catalogItem">
                <div class="catalogItem__imgContainer">
                    <img class="catalogItem__img" src="img\catalogItem\06.jpg" draggable="false">
                </div>
                <div class="catalogItem__aboutContainer">
                    <h2 class="catalogItem__header">Настройки пользователей</h2>
                    <span class="catalogItem__text">Какой-то текст с описанием этого блока</span>
                </div>
            </section>

        </div>

    </div>
</main>
{% endblock %}